.page-detail{
  position: absolute;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.head-box{
  position: sticky;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  top: 0;
  .detail-head-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .coverImgUrl-bg{
    filter: blur(20px);
  }
}
.detail-head{
  margin: 0 auto;
  padding-top: 80px;
  width: calc(100% - 30px);
  .coverImgUrl-box{
    display: inline-block;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 8px;
    width: 140px;
    overflow: hidden;
    .coverImgUrl{
      box-shadow: 0 0 0 #ccc;;
      width: 100%;
    }
  }
  .songInfo{
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
    padding-left: 15px;
    width: calc(100% - 155px);
  }
  .songDetail-title{
    font-weight: bold;
  }
  .creator{
    margin-top: 15px;
    .creator-avatar{
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    .creator-name{
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
    }
  }
  .editDetail{
    position: relative;
    display: block;
    margin-top: 40px;
    font-size: 12px;
    overflow: hidden;    
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
  }
}
.operate{
  display: flex;
  padding: 20px 0;
  li{
    flex: 1;
    text-align: center;
    i{ font-size: 22px; }
    span{ font-size: 12px; }
    i,span{
      display: block;
    }
  }
}
.detail-songsList{
  background: #fff;
  margin-top: -10px;
  .stickyDiv{
    position: absolute;
    width: 100%;
    .songsList-box{
      padding: 0 15px;
      background: #fff;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  .songsList-head{
    position: sticky;
    background: #fff;
    padding: 10px 0;
    line-height: 26px;
    top: 50px;
    z-index: 2;
    .iconfont,
    .playAll{
      display: inline-block;
      vertical-align: middle;
    }
    .playAll{
      margin: 0;
      font-size: 16px;
      span{
        margin-left: 3px;
        font-size: 12px;
        color: #999;
      }
    }
  }
  .tracks{
    padding-bottom: 60px;
    .tracks-item{
      position: relative;
      padding: 10px 0;
    }
    .tracks-item-disable{
      .tracks-no,
      .tracks-info,
      .tracks-title,
      .tracks-subTitle,
      .tracks-singer{
        color: #ddd;
      }
    }
    .tracks-no{
      position: absolute;
      color: #999;
      font-size: 16px;
      left: -6px;
      top: 18px;
      text-align: center;
      width: 30px;
    }
    .tracks-info{
      margin-left: 30px;
      width: 280px;
    }
    .tracks-title{
      display: block;
      overflow: hidden;    
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
    }
    .tracks-subTitle{
      margin-left: 3px;
      font-size: 14px;
      color: #999;
    }
    .tracks-singer{
      font-size: 12px;
      color: #999;
    }
  }
}
.fixed-box{
  position: fixed;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: 40px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
.musicPlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}