.page-head{
  position: fixed;
  padding: 5px 0;
  top: 0;
  left: 0;
  line-height: 40px;
  width: 100%;
  height: 40px;
  z-index: 99;
  .head-left,
  .head-center,
  .head-right{
    float: left;
  }
  .head-left,
  .head-right{
    text-align: center;
    width: 40px;
    height: 40px;
  }
  .head-center{
    position: relative;
    width: calc(100% - 80px);
    height: 40px;
    .searchText{
      position: absolute;
      background: #fafafa;
      margin: 0 auto;
      border-radius: 15px;
      outline: none;
      text-align: center;
      top: 5px;
      left: 0;
      right: 0;
      border: 0;
      padding: 0;
      width: 95%;
      height: 30px;
    }
    .searchText.iconfont{
      font-size: 14px;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #999;
    }
  }
  .playing{
    border-radius: 50%;
    margin: 5px auto 0 auto;
    width: 30px;
    height: 30px;
  }
  .playing-img{
    -webkit-animation: rotateImg 15s linear infinite;
  }
  @-webkit-keyframes rotateImg{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
  }
}
.accountBg{
  background: #808080;
}
.mineBg{
  background: #808080;
}